.containerPresentationHome
    margin-top: 50px

    .presentationText
        color: white
        display: flex
        justify-content: center
        align-items: flex-start
        gap: 8em

        .title
            font-size: xx-large
            width: 35%
            font-weight: bold

        .textAndButton
            width: 21%
            font-size: small
            font-weight: lighter
            line-height: 20px
            display: flex
            flex-direction: column
            gap: 1em

            p
                opacity: .8

            button
                background-color: #03ffff
                width: 140px
                height: 40px
                border-radius: 50px
                font-weight: bold

    .presentationImg
        display: flex
        justify-content: center

        .imageHome
            margin-top: -60px
            background-image: url('../../assets/imageHome.svg')
            background-repeat: no-repeat
            background-size: cover
            border-radius: 40px
            width: 70%
            height: 600px
            position: relative

            .imgCardComponent
                position: absolute
                bottom: 50px
                right: 130px
