.containerPresentationHome
    margin-top: 50px

    .presentationText
        color: white
        display: flex
        justify-content: center
        gap: 7em
        align-items: flex-start
        flex-wrap: wrap

        .title
            font-size: xx-large
            width: 550px
            font-weight: bold

        .textAndButton
            width: 350px
            font-size: small
            font-weight: lighter
            line-height: 20px
            display: flex
            flex-direction: column
            gap: 1em

            p
                opacity: .8

            button
                background-color: #03ffff
                width: 140px
                height: 40px
                border-radius: 50px
                font-weight: bold

    .presentationImg
        display: flex
        justify-content: center

        .imageHome
            margin-top: -70px
            background-image: url('../../assets/imageHome.svg')
            background-repeat: no-repeat
            background-size: cover
            border-radius: 40px
            width: 1000px
            height: 600px
            position: relative

            .imgCardComponent
                position: absolute
                bottom: 70px
                right: 120px

@media screen and (max-width: 1030px)
    .containerPresentationHome

        .presentationText
            gap: 4em

            .title
                font-size: x-large
                width: 400px
                font-weight: bold

            .textAndButton
                width: 310px

        .presentationImg

            .imageHome
                margin-top: -20px
                width: 900px

                .imgCardComponent
                    right: 10px

@media screen and (max-width: 885px)
    .containerPresentationHome

        .presentationText
            gap: 3em
            flex-direction: column
            align-items: center

            .title
                font-size: xx-large
                width: 600px
                text-align: center
                font-weight: bold

            .textAndButton
                align-items: center
                justify-content: center

        .presentationImg

            .imageHome
                width: 600px
                height: 400px
                background-size: contain
                margin-top: 30px

                .imgCardComponent
                    right: 5px
                    bottom: 70px

@media screen and (max-width: 615px)
    .containerPresentationHome

        .presentationText

            .title
                width: 100%

        .presentationImg

            .imageHome
                width: 450px
                height: 300px
                margin-top: 30px

                .imgCardComponent
                    right: -10px
                    bottom: 45px

@media screen and (max-width: 440px)
    .containerPresentationHome

        .presentationImg

            .imageHome
                width: 350px
                height: 300px
                margin-top: 30px

                .imgCardComponent
                    right: -46px
                    bottom: 90px
