.imgCard
    position: relative
    width: 300px
    height: 50px
    display: flex
    align-items: center
    border-radius: 10px
    padding-left: 50px

    img
        width: 60px
        height: 60px
        border-radius: 100%
        position: absolute
        background-color: #e6e6e6b2
        text-align: center

    .img1
        left: 0px

    .img2
        left: 25px

    .img3
        left: 50px

    p
        color: white
        position: absolute
        left: 120px
