.cardBenefits
    color: white
    display: flex
    align-items: flex-start

    img
        width: 100px
        height: 100px

    .benefitsText
        display: flex
        flex-direction: column
        justify-content: left
        gap: .5em

        h3
            font-size: x-large
            width: 250px

        p
            font-size: small
            opacity: .6
            line-height: 20px
            text-align: left
            width: 250px
