.header
    background-color: #1a1919
    height: 50px
    width: 75%
    border-radius: 20px
    display: flex
    justify-content: space-between
    align-items: center
    margin: 20px auto
    padding: 0px 20px
    flex-wrap: wrap

    img
        widht: 200px
        height: 40px

    ul
        display: flex
        gap: 2.5em

        li
            list-style: none
            color: white
            font-size: small
            font-weight: bold

        li:hover
            color: #5FC7C8
            cursor: pointer
