.containerBenefitsHome
    color: white
    background-color: #1a1919
    height: auto
    margin: 100px auto
    display: flex
    flex-direction: column
    align-items: center
    padding: 50px 0px
    gap: 2em

    h2
        font-size: xx-large

    p
        opacity: .6
        width: 35%
        text-align: center

    .cardBenefitsHome
        background-color: #202020
        width: 1150px
        height: auto
        padding: 70px 0px
        border-radius: 40px
        background-image: url('../../assets/benefitsImg.svg')
        background-repeat: no-repeat
        background-size: contain
        background-position: right
        margin-top: 0px
        display: flex
        justify-content: left
        align-items: center

        .benefitsInfo
            display: flex
            flex-wrap: wrap
            align-items: center
            width: 65%
            height: 90%
            gap: 2em

@media screen and (max-width: 1200px)
    .containerBenefitsHome
        .cardBenefitsHome
            width: 1030px
            padding: 50px 0px

@media screen and (max-width: 1040px)
    .containerBenefitsHome
        .cardBenefitsHome
            background-image: none
            width: 80%
            padding: 20px 15px

            .benefitsInfo
                width: 100%
                gap: 2em
                justify-content: center

@media screen and (max-width: 953px)
    .containerBenefitsHome
        .cardBenefitsHome
            background-image: none
            width: 50%
            padding: 20px 15px

            .benefitsInfo
                width: 100%
                gap: 2em
                justify-content: center

@media screen and (max-width: 700px)
    .containerBenefitsHome
        p
            font-size: small

        .cardBenefitsHome
            background-image: none
            width: 70%
            padding: 20px 15px

            .benefitsInfo
                width: 100%
                gap: 2.5em
                justify-content: center

@media screen and (max-width: 505px)
    .containerBenefitsHome
        margin: 50px auto

        p
            width: 70%

        .cardBenefitsHome
            width: 90%
